a ,.nav-link{
  text-decoration: none;
  color: $color-black;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.button {
  cursor: pointer;
  border-radius: 5px;
}
.button:hover {
  background: $color-hover-button;
}


