.pagination {
  .page-item {
    cursor: pointer;
  }

  .disable {
    opacity: 0.4;
    cursor: default;
  }

  .page-item-active {
    color: $color-hover;
  }
  .page-item-dots {
    display: none;
    @media (max-width: 767px) {
      //display: block;
    }
  }
}
